DATABASE_URL=postgresql://postgres:YkpsXREdModWkZctzolRNKcZzXiFuMxI@yamanote.proxy.rlwy.net:32427/railway
JWT_SECRET_KEY=CHANGE_ME_NOW
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_MINUTES=1440
CORS_ALLOW_ORIGINS=["http://localhost:5173"]
